<div class="container">
    <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">

    <div class="row">
        <div class="col-md-11">
            <h2>{{event?.name}} </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div><strong>Date:</strong> {{event?.date}}</div>
            <div><strong>Time:</strong> {{event?.time}}</div>
            <div><strong>Price:</strong> ${{event?.price}}</div>
        </div>
        <div class="col-md-6">
            <address>
                <strong>Address:</strong><br />
                {{event?.location?.address}}<br />
                {{event?.location?.city}}, {{event?.location?.country}}
            </address>
        </div>
    </div>

    <hr>

    <session-list [sessions]="event?.sessions"></session-list>

</div>

<h1>Edit Event</h1>
<hr>
<div class="col-md-6">
    <form #newEventForm="ngForm" (ngSubmit)="updateEvent(newEventForm.value)" autocomplete="off" novalidate>
        <div class="form-group">
            <label for="eventId">Event Id:</label>
            <input name="eventId" type="text" class="form-control" [(ngModel)]="event.id" [readOnly]="true" />
        </div>
        <div class="form-group" [ngClass]="{'error': newEventForm.controls.name?.invalid && newEventForm.controls.name?.touched}">
            <label for="eventName">Event Name:</label>
            <em *ngIf="newEventForm.controls.name?.invalid && (newEventForm.controls.name?.touched)">Required</em>
            <input [ngModel]="event?.name" (ngModelChange)="event.name = $event" name="name" required id="name" type="text" class="form-control" placeholder="Name of your event..." />
        </div>
        <div class="form-group" [ngClass]="{'error': newEventForm.controls.date?.invalid && newEventForm.controls.date?.touched}">
            <label for="eventDate">Event Date:</label>
            <em *ngIf="newEventForm.controls.date?.invalid && (newEventForm.controls.date?.touched)">Required</em>
            <input [ngModel]="event?.date" (ngModelChange)="event.date = $event" name="date" required id="eventDate" type="text" class="form-control" placeholder="format (mm/dd/yyyy)..." />
        </div>
        <div class="form-group" [ngClass]="{'error': newEventForm.controls.time?.invalid && newEventForm.controls.time?.touched}">
            <label for="eventTime">Event Time:</label>
            <em *ngIf="newEventForm.controls.time?.invalid && (newEventForm.controls.time?.touched)">Required</em>
            <input [ngModel]="event?.time" (ngModelChange)="event.time = $event" name="time" required id="eventTime" type="text" class="form-control" placeholder="start and end time..." />
        </div>
        <div class="form-group" [ngClass]="{'error': newEventForm.controls.price?.invalid && newEventForm.controls.price?.touched}">
            <label for="eventPrice">Event Price:</label>
            <em *ngIf="newEventForm.controls.price?.invalid && (newEventForm.controls.price?.touched)">Required</em>
            <input [ngModel]="event?.price" (ngModelChange)="event.price = $event" name="price" required id="eventPrice" type="text" type="number" class="form-control" placeholder="event price..." />
        </div>

        <div ngModelGroup="location">
            <div class="form-group">
                <label for="address">Event Location:</label>
                <input [ngModel]="event?.location?.address" (ngModelChange)="event.location.address = $event" name="address" id="address" type="text" class="form-control" placeholder="Address of event..." />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input [ngModel]="event?.location?.city" (ngModelChange)="event.location.city = $event" name="city" id="city" type="text" class="form-control" placeholder="City..." />
                </div>
                <div class="col-md-6">
                    <input [ngModel]="event?.location?.country" (ngModelChange)="event.location.country = $event" name="country" id="country" type="text" class="form-control" placeholder="Country..." />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="onlineUrl">Online Url:</label>
            <input [ngModel]="event?.onlineUrl" (ngModelChange)="event.onlineUrl = $event" name="onlineUrl" id="onlineUrl" type="text" class="form-control" placeholder="Online Url..." />
        </div>
        <div class="form-group" [ngClass]="{'error': newEventForm.controls.imageUrl?.invalid && newEventForm.controls.imageUrl?.touched}">
            <label for="imageUrl">Image:</label>
            <em *ngIf="newEventForm.controls.imageUrl?.invalid && newEventForm.controls.imageUrl?.touched && newEventForm.controls.imageUrl?.errors.required">Required</em>
            <em *ngIf="newEventForm.controls.imageUrl?.invalid && newEventForm.controls.imageUrl?.touched  && newEventForm.controls.imageUrl?.errors.pattern">Must be a png or jpg url</em>
            <input [ngModel]="event?.imageUrl" (ngModelChange)="event.imageUrl = $event" name="imageUrl" required pattern=".*\/.*.(png|jpg)" id="imageUrl" type="text" class="form-control" placeholder="url of image..." />
            <img [src]="newEventForm.controls.imageUrl.value" *ngIf="newEventForm.controls.imageUrl?.valid" />
        </div>

        <button type="submit" [disabled]="newEventForm.invalid" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </form>
</div>